body{
	background-color: black;
}

h1{
	color: beige;
	padding-left: 5%;
	font-family: monospace;
	font-weight: bold;
	font-size: 450;
}

a{
	color:blanchedalmond;
}

/* Intro */
.welcome {
	top: 0;           
	left: 0;          
	width: 100%;       
	transition: opacity 0.5s ease-in-out;  
}

.welcome.hidden{
	opacity: 0;
}

.welcome-msg{
	padding-top: 10%;
	padding-left: 40%;
}

/* Socials */
.socials{
	padding-left: 45%;
	float: left;
	position: relative;
}

/* Links */
.link1, .link2 {
	padding: 10px;
	margin-right: 15px;
	text-decoration: none;
	color: white;
	font-family: monospace;
	font-size: larger;
}
  
/* Centering Links */
.center-content {
	margin: 0 auto;  
	text-align: center; 
}
  
.links {
	padding-top: 10%;
	display: flex;  
	justify-content: center; 
	margin-left: -690px;
}
  
/* About Me and Projects Sections */
.about-me{
	padding-left: 30%;  
}

.projects {
	padding-left: 30%;  
}
  