body {
    font-family: 'Arial, sans-serif';
    background-color: #f3f4f6;
    color: #333;
}

h1, h2 {
    color: #1f2937; 
}

a {
    color: #3b82f6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*  SOCIALS */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-left: 20vw;
    width: 50vw;
}

svg {
    display: block;
}

.logo svg {
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.logo svg:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.logo svg:active {
    transform: scale(0.95);
    opacity: 1;
}

.hidden {
    display: none;
}

#hiddenElements {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.element {
    width: 100px;
    height: 100px;
    background-color: #4fd1c5; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.element.show {
    opacity: 1;
    transform: scale(1);
}

.element a img {
    transition: transform 0.3s ease-in-out;
}

.element a img:hover {
    transform: scale(1.1);
}

/* ABOUT ME */
.about_me {
    background-color: #fff;
    padding: 2rem;
    margin: 1rem auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.about_me h2 {
    margin-bottom: 1rem;
}

.about_me p {
    line-height: 1.6;
}

/* SKILLS */
.skills ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 0.5rem;
}

.skills li {
    background-color: #e5e7eb;
    padding: 0.5rem;
    text-align: center;
    border-radius: 4px;
}

/* PROJECTS */
.projects {
    background-color: #fff;
    padding: 2rem;
    margin: 1rem auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.projects h1 {
    margin-bottom: 1rem;
}

.projects ul {
    list-style: none;
    padding: 0;
}

.projects li {
    margin-bottom: 1rem;
}

.projects a {
    font-weight: bold;
}

.projects p.description {
    margin-top: 0.5rem;
    line-height: 1.4;
}


/* SERVICES */
.services {
    background-color: #fff;
    padding: 2rem;
    margin: 1rem auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.services ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.services li {
    background-color: #e5e7eb;
    padding: 1rem;
    text-align: center;
    border-radius: 4px;
}